body{
	font-family: 'Arial';
}
.vnos{
	padding-top: 15px;
	display: flex;
	justify-content: center;
    align-items: center;
}
.naslov{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Arial';
}
input{
	padding-top: 2px;
	margin: 5px;
}